/* 

Nav Bar Section

*/




/* 

About Me Section

*/
body {
  margin: 0;
  background-color: #FFF2E0 ;
  margin: 0 auto; 
  max-width: 1200px;  
  margin: 0 auto;     
  padding: 1rem;   
}

.about-me{
 max-width: 1200px;  
  margin: 0 auto;     
  padding: 1rem;      
}

.my-name{
  color: #000;
  font-family: 'Orienta',sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.headings{
  color: #000;
  font-family: 'Orienta',sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background-color: #C4A484;
  border-radius: 10px;
  width:20%; 
  margin: auto;
  margin-bottom:10px;
  margin-top:10px;
  line-height:normal;
}

.about-box{
  border-radius: 10px;
  background: #F0DDC7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  padding: 0.5em;
}

.about-text{
  color: #000000;
  font-family: 'Orienta',sans-serif;  
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 28em;
  height: auto;              
  margin-left: auto;          
  margin-right: auto;         
  font-size:150%;
}

.andrew-box{
  border-radius: 10px;
  background: black;
  width: 400px;
  height: 550px;
  display: flex;
  align-items: center;   
  justify-content: center; 
}

.about-image{
  width: 100%;
  height: 100%;
  padding-top:10px;
}

.about-content{
  display: grid;
  grid-template-columns: 1fr auto ;

}
.right-side{
  padding-left:40px;
}

/* 

Hobbies Interests Section

*/
.hobbies-content{
  display:grid;
  grid-template-columns: repeat(2, auto ); /* 2 columns */
  grid-template-rows: repeat(2, auto);   /* 2 rows */
  gap:2rem;  
  padding:1rem;
  background-color: #C4A484;
  border-radius: 20px;
}


.hobby-boxes{
  border-radius: 33px;
  background: #F0DDC7;
  display:flex;
  align-items:center;
  justify-content: center; 
  flex-direction: column; 
  padding:0 20px;
}

.hobby-boxes h3 {
  margin-top:0.1em;
  text-align: center;
  color:black;
  font-family: 'Roboto Serif', serif;
  font-weight:bold;
  font-size:150%;
  margin-bottom: 0.1em; 
}

.hobby-boxes p {
  color: #000000;
  font-family: 'Orienta',sans-serif;  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 20em;
  height: auto;              
  margin-left: auto;          
  margin-right: auto;         
  font-size:100%;
  margin-top:0.1em;
}
.hobby-boxes img{
 height:auto;
 width:auto;
 max-height:300px;
 border-radius: 10px;
 margin-top:10px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.hobby-boxes img:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


/* 

Work Experience Section

*/
.work-content{
  display:flex;
  margin-top:1px;
  grid-template-columns:repeat(4 auto);
  gap: 2rem;
}

.work-content h3{
  margin-top:0.1em;
  text-align: center;
  color:black;
  font-family: 'Roboto Serif', serif;
  font-weight:bold;
  font-size:150%;
  margin-bottom: 0.1em; 
}
.work-content p{
  margin-top:1px;
  color: #000000;
  font-family: 'Orienta',sans-serif;  font-size: 26px;
  font-style: normal;
  font-size:110%;
  line-height:normal;
}
.work-boxes{
  border-radius: 33px;
  background: #F0DDC7;
  display:flex;
  align-items:center;
  justify-content: center; 
  flex-direction: column; 
  width:50%;
  padding:1rem;
}  
.work-boxes img{
  border:5px solid;
  border-color:black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.work-boxes img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;

}
